h2, h3, h4 {
  margin: 1.5em 0em;
}

.hint {
  background-color: rgba(var(--lia-success),.15);
  padding: 1em;
  border: 2px dashed rgba(var(--color-highlight));
  margin: 1em;
}

.lia_header__logo {
  display: none;
}

.lia_header_middle {
  background: url(https://github.com/arcus/education_fellows/raw/main/img/chop-logo.svg);
  background-repeat: no-repeat;
}

.lia-quote{
  position: relative;
  padding-left: 5rem;
  margin: 3rem 0rem;

}
.lia-quote:before {
    display: block;
    padding-left: 1rem;
    content: "\201C";
    font-size: 7rem;
    position: absolute;
    left: 0rem;
    top: -1rem;
    color: rgb(var(--color-highlight));
}
