h2, h3, h4 {
  margin: 1.5em 0em;
}

.hint {
  background-color: rgba(var(--color-highlight),.15);
  padding: 1em;
  border: 1px dashed rgba(var(--color-highlight));
  margin: 1em;
}

.lia-variant-dark .hint {
  color: rgb(var(--color-text));
}

.lia-header {
  display: none;
}

.lia-quote{
  position: relative;
  padding-left: 5rem;
}
.lia-quote:before {
    display: block;
    padding-left: 1rem;
    content: "\201C";
    font-size: 7rem;
    position: absolute;
    left: 0rem;
    top: -1rem;
    color: rgb(var(--color-text));
}
