# Customizations to html tags

h2, h3, h4 {
  margin: 1.5em 0em;
}

caption {
  display: block;
  padding: 1rem;
  font-weight: bolder;
  border: 1px solid rgb(var(--lia-grey));
}

# Customizations to classes

.hint {
  background-color: rgba(var(--lia-success),.15);
  padding: 1em;
  border: 2px dashed rgba(var(--color-highlight));
  margin: 1em;
}

.lia_header__logo {
  display: none;
}

.lia-header__middle {
  background: url(https://github.com/arcus/education_fellows/raw/main/img/chop-logo.svg);
  background-repeat: no-repeat;
}

.lia-quote{
  position: relative;
  padding-left: 5rem;
  margin: 3rem 0rem;

}
.lia-quote:before {
    display: block;
    padding-left: 1rem;
    content: "\201C";
    font-size: 7rem;
    position: absolute;
    left: 0rem;
    top: -1rem;
    color: rgb(var(--color-highlight));
}

.question{
  background-color: rgba(var(--lia-yellow),.15);
  border: 1px solid rgba(var(--color-highlight));
  position: relative;
  padding: 1em 1em 1em 5rem;
  margin: 3rem 0rem;

}
.question:before {
    display: block;
    padding-left: 1rem;
    content: "?";
    font-size: 7rem;
    position: absolute;
    left: 0rem;
    top: -1rem;
    color: rgb(var(--color-highlight));
}
